<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>WSN Testing System</display-name>
	
	<!-- Spring配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/conf/applicationContext.xml,  <!-- spring配置文件位置 -->
			/WEB-INF/conf/springmvc-servlet.xml    <!-- MVC配置 -->
		</param-value>
	</context-param>
	
	<!-- 使用Listener加载Spring配置文件 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener    <!-- 初始化器 -->
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  <!-- Spring分发器 -->
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/conf/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>				<!-- 启动时加载 -->
	</servlet>
	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>*.wsn</url-pattern>     		 <!-- 拦截所有.wsn的URL -->
		<url-pattern>*.json</url-pattern>     		 <!-- 拦截所有.json的URL -->
		
	</servlet-mapping>
</web-app>
