<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seu.wsn.node.mapper">
	<!-- 选择节点 -->
	<select id="selectNode" parameterType="java.lang.String" resultType="com.seu.wsn.Core.Pojo.Node">
		select * from tb_node where id=#{id}
	</select>
	
	<!-- 新增节点 -->
	<insert id="insertNode" parameterType="com.seu.wsn.Core.Pojo.Node">
		insert into tb_node(nodeId,ip,parentId,nodeType,onLine,download,joinNetwork,testId) values(#{nodeId}, #{ip},#{parentId}, #{nodeType}, #{onLine}, #{download}, #{joinNetwork},#{testId})
	</insert>
	
	<!-- 更新节点信息 -->
	<update id="updateNode" parameterType="com.seu.wsn.Core.Pojo.Node">
		update tb_node set parentId=#{parentId},nodeType=#{nodeType},onLine=#{onLine},download=#{download},joinNetwork=#{joinNetwork} where nodeId=#{id} and testId=#{testId}
	</update>
	
	<!-- 删除节点 -->
	<delete id="deleteNode" parameterType="java.lang.String">
		delete from tb_node where id=#{id}
	</delete>

	<!-- 获取节点列表 -->
	<select id="nodeList"  resultType="com.seu.wsn.Core.Pojo.Node">
		select * from tb_node
	</select>
	
	<!-- 获取节点列表 -->
	<select id="nodeListByTestId"  resultType="com.seu.wsn.Core.Pojo.Node">
		select * from tb_node where testId=#{testId}
	</select>
</mapper>